a
{
color: #000000;
font-weight: bold;
text-decoration: none
}
body 
{
background: #848484;
font-family: Verdana, serif;
}
form
{
font-size: 100%;
margin: 2px;
padding: 0px 0px 0px 0px;
}
hr
{
color:#4e4e4e;
}
img
{
border:thick solid #4e4e4e;
background-image: url('images/parchmentbg_dark.jpg');
}
input
{
color: #000;
background: #d4d4d4;
border: 2px outset #a8a8a8;
font-size:85%;
font-family: Verdana, serif;
padding: 1px 2px 1px 2px;
text-decoration: none;
}
input.text
{
color: #000;
background: #ffffff;
border: 1px outset #aaaaaa;
font-size:85%;
font-family: Verdana, serif;
margin-bottom: 1px;
margin-top: 1px
}
p
{
line-height:1em;
}
select
{
color: #000;
background: #ffffff;
border: 1px outset #aaaaaa;
margin: 1px;
font-family: Verdana, serif;
font-size:80%;
}
td
{
vertical-align:top;
text-align: center;
}
td.map
{
width:100px;
height:100px;
overflow:hidden;
background-repeat:no-repeat;
border:0px;
}
textarea
{
color: #000;
background: #d0d0d0;
border: 1px outset #4e4e4e;
font-family: Verdana, serif;
margin-bottom: 1px;
margin-top: 1px
}

.actionbox
{
width:36em;
left:538px;
margin:2px;
font-size:75%;
}
.beigebox
{
border:thick solid #4e4e4e;
background-image: url('images/parchmentbg_dark.jpg');
padding:4px;
width:15em;
}
.bigbox
{
width:1126px;
height:800px;
background:#848484
}
.bigbox_long
{
width:1126px;
background:#848484
}
.adbox_index
{
width:468px;
position:absolute;
left:658px;
}
.adbox_game
{
left:560px;
width:468px;
height:86px;
position:absolute;
float:right;
}
.adbox_stats
{
top:2px;
width:468px;
position:absolute;
left:600px;
}
.bought
{
color:#000000
}
.unbought
{
color:#e8e8e8
}
.buttonlink
{
color: #000;
background: #d0d0d0;
border: 2px outset #4e4e4e;
font-size:85%;
font-weight: normal;
font-family: Verdana, serif;
padding: 2px 3px 2px 3px;
margin: 1px;
text-decoration: none;
}
.enterbutton
{
width: 44px;
height: 24px;
margin:0px;
font-weight: bold;
position: relative;
top: 0px;
}
.gamebox
{
padding:2px;
border:thick solid #4e4e4e;
background-image: url('images/parchmentbg_dark.jpg');
text-align: left;
width:516px;
}
.gamebox-light
{
padding:2px;
border:thick solid #4e4e4e;
background-image: url('images/parchmentbg.jpg');
text-align: left;
}
.buttonsbox
{
width:516px;
border-top-width:0px;
font-size:75%
}
.chatbox
{
width:516px;
height: 18em;
font-size:90%;
overflow: auto;
word-wrap:break-word;
}
.header
{
margin-left: 80px;
}
.infobox
{
height: 14em;
left:522px;
font-size:70%;
overflow: auto;
word-wrap:break-word;
}
.infotable
{
position:absolute;
top: 5px;
left:538px;
}
.invbox
{

font-size:75%;
position:relative;
}
.locationbox
{
width:520px;
text-align:center;
font-size:110%;
background:#d0d0d0;
margin-bottom:0px;
margin-top:0px;
opacity:.65
}
.map
{
width: 520px;
border:thick solid #4e4e4e;
background-image: url('images/parchmentbg.jpg');
}

.mapdata
{
font-size:55%;
background: #e8edff;
margin:0px;
border:thin solid #4e4e4e;
padding: 0px 2px 0px 2px;
position: relative;
top: 3px;
}
.movebutton
{
font-size: 55%;
width: 64px;
height: 20px;
margin: 0px;
position: relative;
top: 1px;
}
.msgbox
{
height:20em;
font-size:70%;
overflow:auto;
word-wrap:break-word;
border-bottom-width:4px;
position:relative;
}
.parchment
{
background-image: url('images/parchmentbg.jpg');
}
.small
{
font-size:70%;
}
.statsbox
{
width:516px;
border-top-width:0px;
font-size:75%;
}
.time
{
font-size:70%;
}
.persistent
{
color:#000000
}
.talk
{
color:#111155
}
.shout
{
color:#661111
}
.whisper
{
color:#505070
}
.slashme
{
color:#227722
}
.ally
{
color:#389038
}
.neutral
{
color:#2A4480
}
.enemy
{
color:#902020
}
.ipwarning
{
font-weight:bold;
color:#902020
}
